.card {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  background: linear-gradient(
    106.1deg,
    rgba(255, 242, 240, 0.5) -103.48%,
    #fff8eb 104.24%
  );
  border-radius: 2rem;
  place-items: center;
  padding: 2rem;
}

.card__article {
  display: grid;
  grid-gap: 0.4rem;
  font-size: 0.6rem;
}

.card__text {
  margin: 0;
  font-size: 17px;
  color: #330600;
}

.card__title {
  margin: 0;
  font-size: 10;
  color: var(--color-secondary);
}
.card__button {
  font-size: 10px;
}
