.favorite-cards {
  display: flex;
  column-gap: 1rem;
}

.favorite-card {
  width: 10rem;
  height: 10rem;
  display: grid;
  border-radius: 2rem;
  justify-items: center;
  align-content: center;
  row-gap: 0.5em;
}

.favorite-card__text {
  color: #4d0a00;
}

.favorite-card--fruits {
  background-color: #fff2f0;
  color: #4d0a00;
}

.favorite-card--vegetables {
  background-color: #eff7ee;
  color: #1c3418;
}

.favorite-card--snacks {
  background-color: #fff8eb;
}
