.card {
  background-color: #a3a0ca;
  border-radius: 1.5rem;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  padding: 1rem;
  gap: 1rem;
}

.card__text {
  color: white;
  font-size: 1.1rem;
  margin: 0;
}
